:root {
  --color-purple: #a375ff;
  --root-spacing: 8px;
}

body {
  font-size: 16px;
  font-family: sans-serif;
}

/*text styles*/
h1 {
  font-size: 40px;
  font-weight: normal;
  /*text-align: center;*/
  color: purple;
}

.em li {
  font-size: 1.3em;
  color: var(--color-purple);
}

.rem li {
  font-size: 1.3rem;
}

.box-model {
  width: 300px;
  height: 100px;
  background: rosybrown;
  padding: 20px;
  border: 10px solid grey;
  margin: 20px;
  box-sizing: border-box;
}

.var {
  width: 100%;
  height: 50px;
  background-color: var(--color-primary);
}

.var-one {
}

.var-two {
  --color-primary: red;
}

.var-three {
  --color-primary: green;
}

.var-four {
  border: 1px solid black;
}

.position-static {
  background: lightyellow;
  padding: 1rem;
  left: 10px;
  z-index: 1;
}

.position-relative {
  position: relative;
  background: lightpink;
  padding: 1rem;
  /*top, right, bottom, left*/
  left: 20px;
  top: -10px;
  z-index: 30;
}

.position-absolute {
  position: absolute;
  background: aquamarine;
  padding: 1rem;
  top: 10px;
  right: 50px;
  z-index: 50;
  /*top, right, bottom, left*/
}

.position-fixed {
  position: fixed;
  background: white;
  right: 0;
  bottom: 0;
  width: 100px;
  z-index: 40;
}

.position-sticky {
  position: sticky;
  background: red;
  bottom: 0;
}

.parent {
  position: relative;
  border: 2px solid grey;
}

.container-flex {
  display: flex;
  flex-direction: row-reverse;
}

.container-flex div {
  border: 1px solid grey;
  background: white;
  /*flex: 1;*/
}

.container-flex div:nth-child(2) {
  flex: 2;
}

.container-flex div:nth-child(3) {
  flex: 3;
}

.justify {
  display: flex;
  justify-content: space-evenly; /* flex-end, flex-start */
  border: 1px solid red;
}

.justify div {
  border: 1px solid grey;
  background: white;
}

.align-content {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 100px;
  align-content: flex-start; /* flex-end, flex-start */
  border: 1px solid red;
  justify-content: center;
}

.align-content div {
  border: 1px solid grey;
  background: white;
  height: 20px;
  flex: none;
  width: 40%;
}

.align-items {
  display: flex;
  height: 100px;
  border: 1px solid red;
  align-items: flex-end;
}

.align-items div {
  border: 1px solid grey;
  background: white;
}

.align-items div:nth-child(2) {
  height: 80px;
}

.align-items div:nth-child(3) {
  height: 50px;
}

.definition {
  background: lightblue;
  border-left: 4px solid blue;
  margin-bottom: 10px;
}

.definition__row {
  display: flex;
}

.definition__property {
  font-weight: bold;
  flex: 1;
  color: blue;
}

.definition__value {
  flex: 1;
}

.definition--green {
  background: lightgoldenrodyellow;
  border-color: green;
}

.definition--green .definition__property {
  color: green;
}

.em li {
  font-size: 1.3em;
}

.rem li {
  font-size: 1.3rem;
}

.box-model {
  width: 300px;
  height: 100px;
  background-color: coral;
  padding: 20px;
  border: 10px solid rebeccapurple;
  margin: 15px;
  box-sizing: border-box;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: content;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu menu content content content right"
    "menu menu footer footer footer footer";
  grid-gap: 15px;
}

.item {
  background-color: cadetblue;
}

@media only screen and (max-width: 420px) {
  .grid-container {
    grid-template-areas:
      "header"
      "menu"
      "content"
      "right"
      "footer";
  }
}
